@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');

/* Page */
html, body, .container {
    height: 100%;
    background-color: #17082f;
}

/* Scrollbar */
html::-webkit-scrollbar {
    width: 12px;
}
html {
    scrollbar-width: thin;
}

/* Colors */
.teal {
    color: #18FFFF;
}
.light-grey {
    color: #F5F5F5;
}
.yellow {
    color: #FFFF00;
}

/* Fonts */
.sans-serif {
    font-family: 'Montserrat', sans-serif;
}
.monospace {
    font-family: 'Roboto Mono', monospace;
}
.small {
    font-size: 70%;
}

/* Headings */
h1 {
    font-weight: bold;
}

/* Links */
a {
    color: #FFFF00;
    text-decoration: none;
}
a:hover {
    color: #FFFF00;
    text-decoration: underline;
}

/* Lists */
.list-group-item {
    font-size: 0.95rem;
    width: 100%;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: var(--bs-dark-rgb);
    color: #F5F5F5;
}

/* Socials */
.socials > p {
    margin-bottom: 0.7rem;
}

/* Copyright footer */
.copyright {
    font-size: 12px;
}

/* Blinky animations */
.blink {
    animation: blink 1.5s infinite;
}
@keyframes blink {
    21% {
        opacity: 100%;
    }
    27% {
        opacity: 0;
    }

    73% {
        opacity: 0;
    }
    79% {
        opacity: 100%;
    }
}

/* Projects */
#current-projects {
    margin-top: 2rem;
}
#completed-projects {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

/* About */
#about-me .card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: contain;
}

/* Hacky way to get .w-* to work with breakpoints       */
/* From: https://github.com/twbs/bootstrap/issues/26528 */
@media(min-width:576px) {
    .w-sm-25 {
        width:25% !important;
    }
    .w-sm-50 {
        width:50% !important;
    }
    .w-sm-75 {
        width:75% !important;
    }
    .w-sm-100 {
        width:100% !important;
    }
}
@media(min-width:768px) {
    .w-md-25 {
        width:25% !important;
    }
    .w-md-50 {
        width:50% !important;
    }
    .w-md-75 {
        width:75% !important;
    }
    .w-md-100 {
        width:100% !important;
    }
}
@media(min-width:992px) {
    .w-lg-25 {
        width:25% !important;
    }
    .w-lg-50 {
        width:50% !important;
    }
    .w-lg-75 {
        width:75% !important;
    }
    .w-lg-100 {
        width:100% !important;
    }
}
@media(min-width:1200px) {
    .w-xl-25 {
        width:25% !important;
    }
    .w-xl-50 {
        width:50% !important;
    }
    .w-xl-75 {
        width:75% !important;
    }
    .w-xl-100 {
        width:100% !important;
    }
}